@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-bg-dark: #112644;
  --clr-bg-light: #fafafa;

  --clr-text-dark: #fafafa;
  --clr-text-light: #2d4a74;
}

[data-theme="dark"] body {
  background-color: var(--clr-bg-dark);
  color: var(--clr-text-dark);
}

[data-theme="light"] body {
  background-color: var(--clr-bg-light);
  color: var(--clr-text-light);
}

[data-theme="light"] .text-sky-400 {
  color: #0284c7;
}


[data-theme="light"] .group:hover .group-hover\:text-neutral-50 {
  color: #0284c7;
}

[data-theme="light"] .bg-slate-100 {
  background-color: #2d4a74;
}

[data-theme="light"] .text-fuchsia-400  {
  color: #fafafa;
}

@layer utilities {
  @variants responsive {
    ::-webkit-scrollbar { 
      visibility: hidden;
    }
    .scrollbar::-webkit-scrollbar {
      visibility: visible;
      transition: .4s ease-in-out;
      width: 8px;
    } 
    .scrollbar::-webkit-scrollbar-track {
      background: #0284c7;
      border-radius: 5px;
    }   
    .scrollbar::-webkit-scrollbar-thumb {
      background-color: #112644;
      border-radius: 14px;
      border: 1px solid #0284c7;
    }
  }
}

@media only screen and (min-width: 540px) {
  .mobile-view {
    width: 100% !important;
  }
}